<!-- <div class="row">
    <div class="column"><app-line-chart></app-line-chart></div>
    <div class="column"><app-bar-chart></app-bar-chart></div>
    <div class="column"><app-pie-chart></app-pie-chart></div>
    <div class="column"><app-bar-encode></app-bar-encode></div>
</div> -->
<div class="row">
    <div class="column1"><app-test-request-db></app-test-request-db></div>
</div>
<div class="row">
    <div class="column2"><app-policy-objects-db></app-policy-objects-db></div>
    <div class="column3"><app-lex-db></app-lex-db></div>
    <div class="column3"><app-server-status-db></app-server-status-db></div>
</div>
<div class="row">
    <div class="column1"><app-error-logs-db></app-error-logs-db></div>
</div>
